* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
    color: black;
}

header {
    & h1 {
        font-size: 35px;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 20px;
    }
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input {
    padding: 10px;
    width: 550px;
    border: 1px solid #bababa;
    border-radius: 10px;
    outline: none;
}

input:hover {
    outline: none;
    border-color:#1e80ff;
    background-color: #fff;
    box-shadow: 0 0 0 4px rgba(33, 118, 255, 0.1);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

button {
    padding: 10px;
    width: 550px;
    border: none;
    background-color: #005bd1;
    color: white;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

button:hover {
    background: #004196;
}

.visivel {
    display: block; /* ou o estilo que desejar */
}

.resultado {
    text-align: center;
    margin-top: 20px;
}
