/* Reset básico para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o body */
body {
    background-color: #e8e8e8;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos para a seção principal */
section {
    background-color: #fff;
    border: solid 1px #8d8d8d;
    width: 100%;
    max-width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para o título principal */
.tituloPrincipal {
    text-align: center;
    margin-bottom: 15px;
    color: #de00a3;
    font-size: 18px;
}

/* Estilos para o container do formulário */
.conteinerFormulario {
    display: flex;
    justify-content: center;
}

/* Estilos para o formulário */
.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Estilos para os labels */
label {
    color: #8d8d8d;
    font-size: 14px;
    text-align: left;
}

/* Estilos para os inputs */
input {
    width: 250px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

/* Estilos para o botão */
#button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #de00a3;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

/* Estilos para o botão ao passar o mouse */
#button:hover {
    background-color: #bb0289;
}

/* Estilos para o resultado */
#resultado {
    opacity: 0; /* Inicialmente oculto */
    display: none; /* Inicialmente oculto */
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    text-align:start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease-in-out; /* Transição suave para a opacidade */
}

/* Classe para tornar o resultado visível */
#resultado.visible {
    opacity: 1; /* Visível */
    display: block; /* Garante que o elemento esteja visível */
}

/* Estilos para os parágrafos dentro do resultado */
#resultado p {
    font-size: 16px;
    color: #333;
    margin: 10px 0;
}

/* Estilos para o texto em negrito dentro do resultado */
#resultado strong {
    color: #de00a3;
}
