:root {
    --branco: #ffffff;
    --verde: #87faf1;
    --azulEscuro: #1c72bd;
    --gelo: #d7d7d7;
    --preto: #000000;
    --sombra: rgba(100, 100, 111, 0.2);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--gelo);
}

.layout-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    gap: 20px;
    padding: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 500px;
    border-radius: 10px;
    box-shadow: var(--sombra) 0px 7px 29px 0px;
    background-color: var(--branco);
}

.tituloLivro {
    text-align: center;
    margin: 10px 10px 10px 10px;
    font-size: 10px;
    line-height: 1.2;
}

.capaLivro {
    max-width: 500px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.capaLivro img {
    width: 170px;
}

.informacoes {
    padding: 15px;
}

.descricao {
    font-size: 10px;
    padding: 0 10px;
    max-height: 100px;
    overflow-y: scroll;
}

.descricaoAutor {
    font-size: 10px;
    margin-top: 8px;
    margin-left: 8px;
}

section {
    margin-top: 85px;
}

.listagem {
    max-width: 200px;
    order: 2;
    margin-top: 10px;
}

.listagem .itens {
    background-color: var(--branco);
    color: var(--preto);
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 0 5px;
    margin-bottom: 10px;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    min-height: 40px;
    transition: 0.15s ease-in-out;
}

.listagem .itens:hover {
    transform: scale(1.05);
}

.listagem .itens span {
    padding-right: 20px;
    margin-top: 8px;
    margin-left: 5px;
}

.listagem .itens.ativo {
    background-color: var(--verde);
}
